@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

.page-title {
    margin: 10px;
    display: flex;
    justify-content: center !important;
}

.page-title > h1 {
    font-size: 4rem;
    font-family: 'Coda Caption', sans-serif;
    color: yellow;
}

body {
    font-family: 'Coda Caption', sans-serif;
    background-color: #121113;
}

a.item {
    color: white !important;
}

.logo {
    display: flex;
    justify-content: center;
}

h2 {
    color: white;
}

label {
    color: white !important;
}